*.class
*.db
*.iml
*.ipr
*.iws
gradlew
gradlew.bat
.idea
.gradle
eclipse
idea
gradle
build
#api
src/main/java/baubles
src/main/java/forestry
src/main/java/mariculture
src/main/java/micdoodle8
src/main/java/sophisticated_wolves
src/main/java/tconstruct
src/main/java/thaumcraft

# Package Files #
*.jar
*.war
*.ear