*.class
*.db
*.iml
*.ipr
*.iws
gradlew
gradlew.bat
.idea
.gradle
eclipse
idea
gradle
build
#api
src/main/java/mariculture
src/main/java/micdoodle8
src/main/java/tconstruct
run/*

# Package Files #
*.jar
*.war
*.ear

!run/gameteststructures/
!run/gameteststructures/*