# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# vscode
.vscode

# gradle
build
.gradle
gradlew
gradlew.bat
gradle/

# other
eclipse
run

# Files from Forge MDK
changelog.txt
CREDITS.txt
LICENSE.txt
README.txt
forge*changelog.txt
